*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("geger.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	list-style-type: none;
	margin: top: 20px;
	position: absolute;
	top: 70%;
	left: 35%;
	right: 0%
}

ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid transparent;
	font-size: 18px;
}
ul li a:hover{
	background-color: white;
	color: black;

}
ul li.active a{
	background-color: white;
	color: black;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{ 
color: black;
font-size: 66px;
text-decoration: underline;
}
.ger{
  position: absolute;
  width: 100%;
  top: 25%;
  bottom: 50%;
  filter: contrast(10);
}
.b{
background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("geger.jpg");
height: 100vh;
background-size: cover;
background-position: center;
color: white; 
font-size: 20px;
}
.d{
background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("geger.jpg");
height: 100vh;
background-size: cover;
background-position: center;
color: white; 
font-size: 20px;
}
.z{
background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("geger.jpg");
height: 100vh;
background-size: cover;
background-position: center;
color: white; 
}
.o{
	list-style-type: none;
	margin: top: 20px;
	position: absolute;
}
.p{
	list-style-type: none;
	margin: top: 20px;
	position: absolute;
}
.q{
	list-style-type: none;
	margin: top: 20px;
	position: absolute;
	}
h2{
  font-family: 'fantasi',cursive;
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 55px;
  margin: 0;
  color: white;
}

@keyframes animate {
  0%   { opacity: 0; filter: blur(28px)}
  10%  { opacity: 0; }
  90%  { opacity: 1; }
}
.text1{
  animation: animate 3s infinite alternate-reverse;
}
.text2{
  animation: animate 3s infinite alternate;
}